/* ----- Global ----- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 0 35px;
	background: linear-gradient(to left top, #031a9a, #8b53ff);
}

/* ----- CSS WRAPPER ----- */
.wrapper {
	max-width: 1100px;
	width: 100%;
	position: relative;
}

.wrapper i {
	height: 50px;
	width: 50px;
	background: #fff;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	top: 50%;
	font-size: 1.25rem;
	transform: translateY(-50%);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.wrapper i:first-child {
	left: -60px;
}

.wrapper i:last-child {
	right: -60px;
}

.wrapper .carousel {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: calc((100% / 3) - 12px);
	gap: 16px;
	overflow: hidden;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	scrollbar-width: 0;
}

/* ----- CSS CAROUSEL ----- */

.carousel::-webkit-scrollbar {
	display: none;
}

.carousel :where(.card, .img) {
	display: flex;
	align-items: center;
	justify-content: center;
}

.carousel.no-transition {
	scroll-behavior: auto;
}

.carousel.dragging {
	scroll-snap-type: none;
	scroll-behavior: auto;
}

.carousel.dragging .card {
	cursor: grab;
	user-select: none;
}

.carousel .card {
	position: relative;
	scroll-snap-align: start;
	height: 360px;
	list-style: none;
	background: #faf9f6;
	border-radius: 8px;
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border: 8px solid #fff;
	border-radius: 15px;
	align-items: flex-center;
}

/* ----- CSS CARD ----- */
.card .img {
	width: 148px;
	height: 148px;
	border-radius: 50%;
}
.card .img img {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	object-fit: cover;
	border: 4px solid #fff;
}

.card h2 {
	font-weight: 500;
	font-size: 1.56rem;
	margin: 30px 0 5px;
}

.card p {
	font-family: Raleway, sans-serif;
	font-weight: bold;
	color: #333;
	font-size: 1.1rem;
	margin: 15px 15px;
	text-align: center;
}

.card .socials {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 50%;
	border: 4px solid #333;
	background-color: Transparent;
}

/* ----- CSS ARROWS ----- */

@media screen and (max-width: 900px) {
	.wrapper .carousel {
		grid-auto-columns: calc((100% / 2) - 9px);
	}
}

@media screen and (max-width: 600px) {
	.wrapper .carousel {
		grid-auto-columns: 100%;
	}
}

/* ----- LANDON HUNT CARD with LEFT ----- */
.land-left {
	justify-content: flex-start;
}

.land-left .img {
	width: 100%;
	margin-top: 25px;
	margin-left: 25px;
}

/* ----- JUSTIN MCCOY CARD with CLIP-PATH ----- */
.bgpines {
	width: 100%;
	clip-path: polygon(0 0, 0 100%, 100% 0);
	border: 8px;
	padding: 1px;
}

.

/* ----- GAIL SCHMIDT CARD with HOVER ----- */
.bubble-btn {
	transition: transform 0.3s;
}

.bubble-btn:hover {
	animation: bubble 0.4s ease-out;
}

@keyframes bubble {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

/* ----- FLORENCE GARZA CARD with IMAGE FLOAT ----- */

.float {
	margin-top: -40px;
}
